@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --main_background: hsl(225, 100%, 94%);
  --card_background: hsl(0, 0%, 100%);
  --bright_blue: hsl(245, 75%, 52%);
  --very_pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --color-h1: hsl(0, 0, 0);
  --color-h2: hsl(0, 0, 0);
  --color-shadow: hsl(231, 6%, 78%);
  --color-white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  font-family: 'Red Hat Display', sans-serif;

  background-color: var(--main_background);
  background-image: url('pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh; /*o co tu chodzi, dlaczego to centruje ten kontener w pionie? jest jakiś inny uniwersalny sposob?*/
}
.container__card {
  width: 450px;
  height: 700px;
  border-radius: 20px;
  background-color: var(--card_background);
}

.container__cardHeader img {
  width: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.container__text h1 {
  margin: 35px 35px 0px 35px;
  font-size: 30px;
  color: var(--color-h1);
  font-weight: 900;
}

.container__text p {
  margin: 20px 35px 25px 35px;
  font-size: 16px;
  font-weight: 700;
  color: var(--desaturated-blue);
}

.containerAnnualPlan {
  display: flex;
  flex-direction: row;

  background-color: var(--very_pale-blue);
  width: 360px;
  height: 100px;
  margin: 20px 45px;
  border-radius: 10px;
}

.containerAnnualPlan img {
  margin: 25px 5px 20px 25px;
  width: 48px;
  height: 48px;
}
.containerPlanAndPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  width: auto;
  height: auto;
  margin-left: 15px;
}
.containerAnnualPlanChange {
  justify-items: left;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 110px;
}

.containerAnnualPlan__text h2 {
  color: var(--color-h2);
  font-size: 16px;
  font-weight: 900;
}

.containerAnnualPlan__text p {
  color: var(--desaturated-blue);
  font-size: 16px;
  font-weight: 700;
}

.containerAnnualPlanChange__text p {
  color: var(--bright_blue);
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}

.containerButtonBlue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 50px;
  background-color: var(--bright_blue);
  /* padding-top: 14px; co zrobić, żeby w prosty sposob (flexboxem?) wysrodkowac tekst p na tym niebieskiem przycisku? 
  update po kilku godzinach: juz znalazem odpowiedzi, ale dlaczego ta część kodu 
  "display: flex;
  justify-content: center;
  align-items: center;"
   nie została odziedziczona po klasie .container, skoro klasa .containerButtonBlue jest umieszczona w divie container? */
  margin: 35px 45px 25px;
  border-radius: 15px;
  box-shadow: 0 10px 35px 0 var(--color-shadow);
}
.containerButtonBlue__text p {
  color: var(--color-white);
  justify-items: center;
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
}
.containerCancel {
  justify-items: center;
}
.containerCancel__text p {
  color: var(--desaturated-blue);
  font-size: 14px;
  font-weight: 700;
}

/* starą część kodu zostawiam sobie na pamiątkę...

.containerAnnualPlan img {
  margin-top: 25px;
  margin-left: 25px;
  float: left;
}
.containerAnnualPlan h2 {
  color: black;
  font-size: 16px;
  padding-top: 33px;
  padding-left: 90px;
}
p.price {
  font-size: 16px;
  color: hsl(224, 23%, 55%);
  text-align: left;
  padding-left: 10px;
}
p.change {
  text-decoration: underline;
  font-size: 12px;
  color: blue;
  text-align: end;
  font-weight: 700;
  margin-right: 25px;
} */

/* 
.containerAnnualPlan {
  background-color: hsl(225, 100%, 98%);
  width: 360px;
  height: 100px;
  padding: auto;
  margin: auto;
  margin-top: 35px;
  border-radius: 15px;
  line-height: 0em; */

/*   
.container__button_blue {
  width: 360px;
  height: 50px;
  background-color: hsl(245, 75%, 52%);
  padding: auto;
  margin: auto;
  margin-top: 35px;
  border-radius: 15px;
  box-shadow: 0 10px 17px 0 hsl(231, 6%, 78%);
}
p.blue {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-top: 15px;
}
p.theLastOne {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: hsl(224, 23%, 55%);
  margin-top: 40px;
} */
